#Data Sets Folder
BrowlerEngine/Assets/DataSets/*

*.tmp

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll


# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio Files
**/.vs
*.aps
*.vcxproj.user
**/[Dd]ebug
**/[Rr]elease
BrowlerEngine/build/**
BrowlerEngine/Visualization2/build/**
*.i
BrowlerEngine/x64/**

#Files for incremental linking
*.iobj
*.ipdb

#pdb files
*.pdb

# Compiled Shaders
BrowlerEngine/Shaders/Compiled/*

#im gui ini file
imgui.ini


# NuGet Packages
*.nupkg
# NuGet Symbol Packages
*.snupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
# Uncomment if necessary however generally it will be regenerated when needed
!**/[Pp]ackages/repositories.config
# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

# compiled python files
__pycache__/
*.pyc

*/.idea
**/venv